HoloAI
openai
google-genai
groq
anthropic
python-dotenv
PyQt5
pyttsx3
pyttsx4
pygame
requests
simpleaudio
SpeechRecognition
playsound
python-dateutil
bcrypt
opencv-python
pillow
pycaw
comtypes
tiktoken
MediaCapture

